// $primary: #0F2B5E;
$primary-light: #F2F7F8;
$light-dark: #374151;
$text-color: #111827;
$text-color-primary: #515661;
$text-color-light: #515661;
$primary: #0F2B5E; // Основной синий УрФУ
$secondary: #1E4391; // Вторичный синий
$accent: #C0231F; // Акцентный красный
$text-color-primary: #222222; // Основной текст
$background-light: #FFFFFF; // Белый фон
$border-color: #CAD1E1; // Цвет границ

// Дополнительные оттенки
$gray-light: #A7A7A7;
$gray-medium: #7A7A7A;

// for toggle theme button
$page-color-transition: transparent .2s ease, color .2s ease;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
